body {
    background-color: #E9EBEE;
}

h1, h2{
    text-align: center;
}

a{
    color: #67b6ef;
    text-decoration: none;
    padding: 2px 2px 2px 2px;
    font-weight:500;

    /* To change the default blue outline */
    outline: none;
}
a:hover{
    color: #167AC6;
}

/* === Pages === */
#full_screen_link {
    margin: 5px 5px 5px 5px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 100%;
}

#footer {
    width: 100%;
    justify-content: space-around;
}

/*@media screen and (min-width: 410px){
    #box_score {
        justify-content: center;
    }
}*/

#popup_page {
    width: 360px;
}

#no_game {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

/* === components === */
/* card */
.c-card {
    display: flex;
    height: 90px;
    width: 350px;
    margin: 5px 5px 5px 5px;
    background-color: #fafafa;
    border-radius: 5px;
}

@media screen and (min-width: 420px) {
    .c-card {
        margin-right: 5px;
    }
}

.c-card > * {
    border: 1px;
    justify-content: center;
}

/* team info*/
.c-team-info {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;

    align-items: center;
    padding-bottom: 10px;
}

.c-team-logo {
    width: 45px;
    height: 45px;
}

.c-team-city {
    font-size: 11px;
}

/* match info */
.c-match-info {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;

    text-align: center;
    font-size: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.c-team-score {
    flex-grow: 2;
}

.c-clock {
    font-size: 15px;
}

.c-link {
    height: 20px;
    width: 20px;
}

.c-loader {
    width: inherit;
    overflow: hidden;
}


/* === table === */
.c-table {
    /*display: flex;*/
    width: 100%;
    /*min-height: 400px;*/
    min-width: 800px;
    padding: 10px 10px 10px 10px;
    background-color: #fafafa;
    border-radius: 5px;
}

.c-table table {
    border-collapse:collapse;
    margin-bottom: 1em;
}

.c-table th {
    height: 2em;
}

.c-table td {
    height: 30px;
}

.team-table th, td {
    min-width: 40px;
    width: 4%;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.team-table th:first-child {
    min-width: 70px;
    width: 12%;
}

.team-table tr:not(:first-child):hover {
    background-color:#e1e1e1;
}

/* Summary Table*/
#box {
    font-family: 'Roboto Condensed', sans-serif;
}

#box_banner {
    width: 100%;
    font-size: 40px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#away_team_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: flex-end;*/
}

#home_team_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: flex-start;*/
}

#away_team_section > *, #home_team_section > *{
    margin: 0px 10px 0px 10px;
}

#box_banner .c-team-logo {
    width: 70px;
    height: 70px;
}

#away_team_name, #home_team_name {
    margin: 1em 0 0 0;
}

#summary_box_score {
    width: 550px;
    margin: 2px 1em 2px 2px;
}

#notes {
    margin: 0.5em 2px 2px 2px;
}

/*'Roboto Condensed', "Helvetica", "Arial", sans-serif*/

/* === utility === */
.u-display-flex {
    display: flex;
}

.u-flex-column {
    flex-direction: column;
}

.u-display-table-cell {
    display: table-cell;
}

.u-center {
    align-items: center;
    justify-content: center;
}

.u-justify-between {
    justify-content: space-between;
}

.u-justify-center {
    justify-content: center;
}

.u-align-center {
    align-items: center;
}

.u-hide {
    display: none;
}

/*text*/
.u-font-weight-normal {
    font-weight: normal;
}

.u-text-italic {
    font-style: italic;
}

.u-text-bold {
    font-weight: bolder;
}

.u-text-size-large {
    font-size: large;
}

.u-text-size-larger {
    font-size: larger;
}

.u-text-size-medium {
    font-size: medium;
}

.u-text-size-small {
    font-size: small;
}

.u-text-align-center {
    text-align: center;
}

.u-margin-bottom {
    margin-bottom: 1em;
}

.u-color-green {
    color : #30db71;
}

.u-color-gray {
    color : #999999;
}

.u-color-red {
    color: #C60033;
}

.u-background-blue{
    background-color: #c1dcf0;
}

.u-background-red{
    background-color: #F7B125;
}

/*shadow*/
.u-shadow {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.u-shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.u-inner-shadow {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 1);
}


/*animation*/
.c-loader .u-sliding-bounce {
    width: 100%;
    position: relative;
    height: 2px;
    background-color: dodgerblue;
    animation-name: u-sliding-bounce;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes u-sliding-bounce {
    0% {
        left: -95%;
    }
    49% {
        left: 95%;
    }
    51% {
        left: 95%;
    }
    100% {
        left: -95%;
    }
}