* {
    box-sizing: border-box;
}

body {
    background-color: #e0e1e2;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2 {
    text-align: center;
}

a {
    color: #67b6ef;
    text-decoration: none;
    padding: 2px 2px 2px 2px;
    font-weight:500;

    /* To change the default blue outline */
    outline: none;
}

a:hover {
    color: #167AC6;
}

sup {
    color: #888888;
    font-size: 0.8vw;
}

/* === Pages === */
#cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#table #cards {
    width: calc(360px + 10vw);
    min-width: 300px;
}

#footer {
    width: 100%;
    justify-content: center;
}

#popup_page {
    width: 350px;
}

#popup_page #cards .c-card:not(.no-game):hover {
    background-color: rgba(0,0,0,0.8);
}

#popup_page #cards .c-card:not(.no-game):hover .c-match-info .c-team-score {
    color:black;
}

#popup_page #cards .c-card:not(.no-game):hover .c-match-info .u-sliding-bounce {
    background-color: black;
}

#popup_page #cards .c-card p,
#box_score_page #cards .c-card p {
    display: none;
    opacity: 0;
}

#popup_page #cards .c-card:hover p {
    position: absolute;
    left: 100px;
    margin-top: 33px;
    display: block;
    opacity: 1;
    color: white;
}

#no_game {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

/* === components === */
/* card */
.c-card {
    display: flex;
    height: 90px;
    width: 100%;
    margin: 5px 5px 5px 5px;

    font-size: calc(15px + 0.2vw);
    background-color: #fafafa;
    border-radius: 5px;

    border: 2px solid transparent;
}

.c-card:hover {
    cursor: pointer;
}

.no-game:hover {
    cursor: auto;
}

@media screen and (min-width: 420px) {
    .c-card {
        margin-right: 5px;
    }
}

.c-card > * {
    border: 1px;
    justify-content: center;
}

/* team info*/
.c-team-info {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;

    align-items: center;
}

.c-team-logo {
    width: 45px;
    height: 45px;
}

.c-team-city {
    font-size: calc(12px + 0.1vw);
}

/* match info */
.c-match-info {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;

    text-align: center;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.c-team-score {
    width: 40%;
}

.c-clock {
    font-size: calc(15px + 0.08vw);
}

.c-hyphen {
    width: 20%;
}

.c-loader {
    width: inherit;
    overflow: hidden;
}


/* === table === */
.c-table {
    /*display: flex;*/
    width: 100%;
    min-width: 800px;
    padding: 10px 10px 10px 10px;
    background-color: #fafafa;
    border-radius: 5px;
}

.c-table table {
    border-collapse:collapse;
    margin-bottom: 1em;
}

.c-table th {
    height: 2em;
}

.c-table td {
    height: 30px;
}

.team-table th, td {
    min-width: 40px;
    width: 5%;
    text-align: center;
    border-bottom: 1px solid #cecece;
}

.team-table th:first-child {
    min-width: 70px;
    width: 14%;
}

.team-table tr:not(:first-child):hover {
    background-color: #e1e1e1;
}

.team-name {
    font-size: 1.7vw;
}

/* Summary Table*/
#box {
    font-size: 1.1vw;
    padding: 0 0 0 0;
    margin-left: 1vw;
    background-color: #E9EBEE;
}

#box p {
    display: none;
    opacity: 0;
}

#box #overlay {
    padding: 10px 10px 10px 10px;
}

#box .u-overlay p{
    position: absolute;
    display: block;
    opacity: 1;
    color: white;
}

#box .u-overlay table, #box .u-overlay table tr td, #box .u-overlay table th{
    border-style: none;
    color: black;
}

#box .u-overlay #home_team_pts, #box .u-overlay #away_team_pts,
#box .u-overlay sup {
    color: black;
}

#box .u-overlay .team-table tr{
    background-color: transparent !important;
}

#box .u-overlay {
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}

#box_banner {
    width: 100%;
    font-size: 3vw;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#away_box_score, #home_box_score {
    width: 100%
}

#away_team_section {
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#home_team_section {
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
}

#clock {
    width: 10%;
    display: flex;
    justify-content: center;
}

#away_team_section > *, #home_team_section > *{
    margin: 0px 5px 0px 5px;
}

#box_banner .c-team-logo {
    width: 70px;
    height: 70px;
}

#away_team_name, #home_team_name {
    margin: 1em 0 0 0;
}

#summary_box_score {
    width: 550px;
    margin: 2px 1em 2px 2px;
}

#notes {
    margin: 0.5em 2px 2px 2px;
}

/* === utility === */
.u-display-flex {
    display: flex;
}

.u-flex-column {
    flex-direction: column;
}

.u-display-table-cell {
    display: table-cell;
}

.u-center {
    align-items: center;
    justify-content: center;
}

.u-justify-center {
    justify-content: center;
}

.u-align-center {
    align-items: center;
}

.u-hide {
    display: none;
}

.u-selected {
    border: 2px solid #0E7FF9;
}

/*text*/
.u-font-weight-normal {
    font-weight: normal;
}

.u-text-italic {
    font-style: italic;
}

.u-text-bolder {
    font-weight: bolder;
}

.u-text-align-center {
    text-align: center;
}

.u-margin-bottom {
    margin-bottom: 1em;
}

.u-color-green {
    color : #1ac900;
}

.u-color-gray {
    color : #999999;
}

.u-color-red {
    color: #C60033;
}

.u-background-blue{
    background-color: #c1dcf0;
}

.u-background-red{
    background-color: #F7B125;
}

/*shadow*/
.u-shadow {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.u-shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.u-inner-shadow {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 1);
}


/*animation*/
.c-loader .u-sliding-bounce {
    width: 100%;
    position: relative;
    height: 2px;
    background-color: dodgerblue;
    animation-name: u-sliding-bounce;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes u-sliding-bounce {
    0% {
        left: -95%;
    }
    49% {
        left: 95%;
    }
    51% {
        left: 95%;
    }
    100% {
        left: -95%;
    }
}