* {
    box-sizing: border-box;
}

body {
    color: hsl(0, 0%, 30%);
    background-color: #e0e0e0;
    font-family: 'Roboto Condensed', sans-serif;
    /*remove browser padding and margin*/
    padding: 0;
    margin:0;
}

sup {
    color: #888888;
    font-size: 13px;
}

th, td {
    min-width: 43px;
    width: 5vw;
    text-align: center;
    border-bottom: 1px solid #cecece;
}

table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

/* === Pages === */
#cards {
    display: flex;
    flex-direction: column;
}

#box_score_page {
    height: 100vh;
    padding: 5px 5px 5px 5px;
}

#box_score_page #games {
    min-width: 26%;
    margin: 0 5px 0 5px;
    overflow-y: auto;
}

#footer {
    width: 100%;
    min-height: 15px;
    justify-content: center;
}

#popup_page {
    width: 330px;
    max-height: 460px;
    overflow-y: auto;
    padding: 0 5px 0 5px;
}

#lastUpdate {
    color: #8f8f8f;
}

#optionsPage {
    color: blue;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}

.over {
    display: none;
    /*parent needs to relative in order to float*/
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    border-radius: 5px;
    text-align: center;
    background: rgba(10, 40, 70, 0.9);
    color: #fff;
    z-index: 10;
}

.over p {
    font-size: calc(15px + 1vw);
}

#cards .c-card:not(.no-game):hover {
    border: 2px solid rgb(30, 150, 250);
}

.c-table .over {
    display: block;
}

/* === components === */
/* card */
.c-card {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 85px;
    margin: 2px 5px 10px 5px;
    font-size: calc(17px + 0.2vw);
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 2px solid transparent;
}

.c-card:hover {
    cursor: pointer;
}

/* team info*/
.c-team-info {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    align-items: center;
}

.c-team-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: calc(17px + 0.1vw);
    margin-bottom: 8px;
    color: white;
    border-radius: 50%;
}

/* match info */
.c-match-info {
    display: flex;
    flex-direction: column;
    flex-basis: 34%;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.c-team-score {
    flex-grow: 2;
}

.c-clock {
    font-size: calc(15px + 0.1vw);
}

.c-time {
    font-size: calc(17px + 0.1vw);
}

.no-game:hover {
    cursor: auto;
}

/* === table === */
.c-table {
    width: 100%;
    height: 100%;
    max-height: 1000px;
    min-width: 900px;
    border-radius: 5px;
    position: relative;
    font-size: calc(13px + 0.1vw);
    padding: 10px 10px 10px 10px;
    margin: 0 5px 0 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.c-table table {
    border-collapse:collapse;
}

.c-table th, td {
    height: 1.8em;
}

.team-table {
    margin-bottom: 1em;
}

.team-table th:hover, .team-stats-table th:hover, .detail-box-score th:hover {
    cursor: help;
}

.team-table th:first-child, .team-stats-table th:first-child {
    min-width: 70px;
    width: 14%;
}

.team-table tr:not(:first-child):hover {
    background-color: #e1e1e1;
}

.c-team-name {
    font-size: calc(15px + 0.1vw);
}

.summary-team-name {
    font-weight: 700;
}

/* Summary Table*/
.box-banner {
    width: 100%;
    font-size: calc(20px + 0.8vw);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.team-section {
    display: flex;
    width: 26%;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    padding: 0.2em 0 10px 0;
}

.box-banner .tab-empty {
    width: 34%;
    justify-content: space-around;
}

.away-team-section > *, .home-team-section > * {
    margin: 0px 5px 0px 5px;
}

.summary-box-score {
    width: 650px;
}

/* Detail Box Score*/
.detail-box-score {
    width: 75%;
    margin-right: 0.25em;
}

.game-box-score {
    width: 20%;
    margin-left: 0.25em;
}

/* tabs */
.tab {
    overflow: hidden;
}

.tab .tab-button {
    text-align: center;
    margin-top: 0.2em;
    background-color: #cfcfcf;
}

.tab .tab-button:not(.active):hover {
    background-color: #bbbbbb;
    cursor: pointer;
}

.tab-button.active  {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

#away_tab {
    margin-left: 1em;
}

#home_tab {
    margin-right: 1em;
}

.c-table .c-time {
    font-size: calc(20px + 0.2vw);
    align-self: center;
}

.c-team-pts {
    align-self: center;
}

/* tab content*/
.tab-content {
    border-top: 2px solid #f9f9f9;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.tab-content > * {
    margin-bottom: 1em;
    width: 100%;
}

.tab-content th {
    background-color: #046fdb;
    color: white;
}

/* === utility === */
.u-display-flex {
    display: flex;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
}

.u-display-table-cell {
    display: table-cell;
}

.u-center {
    align-items: center;
    justify-content: center;
}

.u-justify-center {
    justify-content: center;
}

.u-align-center {
    align-items: center;
}

.u-hide {
    display: none !important;
}

.u-selected {
    border: 2px solid rgb(30, 90, 250) !important;
}

/*text*/
.u-text-align-center {
    text-align: center;
}

.u-color-green {
    color : #00aa00;
}

.u-color-gray {
    color : #b2b2b2;
}

.u-color-red {
    color: #C60033;
}

.u-background-purple {
    background-color: #724C9F;
}

.u-background-blue{
    background-color: #c1dcf0;
}

.u-background-green{
    background-color: #008348;
}

.u-background-orange{
    background-color: #F7B125;
}

.u-cursor-default {
    cursor: default !important;
}

/*shadow*/
.u-shadow {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.u-shadow:hover {
    box-shadow: 0 6px 9px 0 rgba(0,0,0,0.3);
}

.u-inner-shadow {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
}

/*overriding jquer ui*/
.ui-tooltip-content {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: calc(12px + 0.1vw);
}

.ui-tooltip {
    background-color: #E9EBEE;
}


/* === Responsive === */
@media only screen and (max-width: 700px) {

    #box_score_page #games {
        min-width: 300px;
    }

    .c-card {
        min-width: 270px;
    }
}